{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-purple-500">Good design</span><br/>
      <span class="">is<br/>as little design<br/>as possible</span>
    </div>
    <div class="mt-40">Check the <a href="/README" class="text-blue-500 overline overline-offset-4 hover:text-gray-500 >README</a> for more information about what I was learning here.</div>
  </div>
{% endblock %}